

@model web_mvc.ViewModels.ProjectIndex

@{
    ViewBag.Title = "Projects List";
}

@Html.AntiForgeryToken()

<h2>List of Projects</h2>

<table>
    <thead>
        <tr>
            <th><a href="@Url.Action("Index", new {page = Model.Projects.Page, SortOrder=Model.SortOrder, SortBy="Address"})">Address</a></th>
            <th><a href="@Url.Action("Index", new {page = Model.Projects.Page, SortOrder=Model.SortOrder, SortBy="APN"})">APN</a></th>
            <th><a href="@Url.Action("Index", new {page = Model.Projects.Page, SortOrder=Model.SortOrder, SortBy="ProjectName"})">Project Name</a></th>
            <th><a href="@Url.Action("Index", new {page = Model.Projects.Page, SortOrder=Model.SortOrder, SortBy="PlanCheckNumber"})">Plan Check Number</a></th>
            <th><a href="@Url.Action("Index", new {page = Model.Projects.Page, SortOrder=Model.SortOrder, SortBy="Notes"})">Notes</a></th>
        </tr>
    </thead>

    @foreach (var project in Model.Projects)
    {
        <tr>
            <td> @project.Address</td>
            <td> @project.APN</td>
            <td> @project.ProjectName</td>
            <td> @project.PlanCheckNumber</td>
            <td> @project.Notes</td>
        </tr>
    }

</table>
    

@if(Model.Projects.HasPreviousPage)
    {
    
    <a href="@Url.Action("Index", new {page = Model.Projects.PreviousPage})">
        Previous Page
    </a>
    }
 else
    {
    <a href="#">No Previous Page</a>
    }

@if (Model.Projects.HasNextPage)
{
    <a href="@Url.Action("Index", new {page = Model.Projects.NextPage})">
        Next Page
    </a>
}
else
{
    <a href="#">No Next Page</a>
}